* text=auto !eol
Project/CorporateSite.sln -text
Website/AlertMonitorWebSvc.asmx -text
Website/App_Code/AlertMonitorWebSvc.vb -text
Website/App_Code/CM2000MonitorWebSvc.vb -text
Website/App_Code/Common/Browser/Browser.vb -text
Website/App_Code/Common/Communications/SMS.vb -text
Website/App_Code/Common/Communications/SmtpMail.vb -text
Website/App_Code/Common/Data/Cache.vb -text
Website/App_Code/Common/Data/DataType.vb -text
Website/App_Code/Common/Data/Database.vb -text
Website/App_Code/Common/Data/DateTime.vb -text
Website/App_Code/Common/Data/Helper.vb -text
Website/App_Code/Common/Detail/DataGrid.vb -text
Website/App_Code/Common/Detail/DropDownList.vb -text
Website/App_Code/Common/Detail/Flash.vb -text
Website/App_Code/Common/Detail/Maintenance.vb -text
Website/App_Code/Common/Detail/QuickLinks.vb -text
Website/App_Code/Common/Detail/Report.vb -text
Website/App_Code/Common/Detail/WebControl.vb -text
Website/App_Code/Common/Globalization/Culture.vb -text
Website/App_Code/Common/Inherited/WebPage.vb -text
Website/App_Code/Common/Navigation/URLHistory.vb -text
Website/App_Code/Common/Reporting/PDF.vb -text
Website/App_Code/Common/Security/Config.vb -text
Website/App_Code/Common/Security/Security.vb -text
Website/App_Code/Common/Settings/Admin/Application/Settings.vb -text
Website/App_Code/Common/Settings/Admin/Global/TimeZone.vb -text
Website/App_Code/Common/Settings/Admin/Global/USState.vb -text
Website/App_Code/CorporateServer/CorporateServer.vb -text
Website/App_Code/Customer/Customer.vb -text
Website/App_Code/Customer/DataService.vb -text
Website/App_Code/DialogicMonitorWebSvc.vb -text
Website/App_Code/DialogicServer/DialogicServer.vb -text
Website/App_Code/DialogicWebSvc.vb -text
Website/App_Code/Invoice/InvoicePeriod.vb -text
Website/App_Code/Invoice/InvoiceService.vb -text
Website/App_Code/Invoice/Pricing.vb -text
Website/App_Code/Migrated/Common/Detail/Stub_errorlinks_ascx_vb.vb -text
Website/App_Code/Migrated/Common/Detail/Stub_helplinks_ascx_vb.vb -text
Website/App_Code/MonitorWebSvc.vb -text
Website/App_Code/News/NewsImage.vb -text
Website/App_Code/PPEasyLogin.vb -text
Website/App_Code/PPMobileLogin.vb -text
Website/App_Code/ResponseWebSvc.vb -text
Website/App_Code/SMSMonitorWebSvc.vb -text
Website/App_Code/Server/Server.vb -text
Website/App_Code/Service.vb -text
Website/App_Code/Service/Service.vb -text
Website/App_Code/Settings/Announcement/Announcement.vb -text
Website/App_Code/Settings/Customer/Server.vb -text
Website/App_Code/Settings/Customer/Service.vb -text
Website/App_Code/Settings/Dialogic/Dialogic.vb -text
Website/App_Code/Settings/Server/ServerStatus.vb -text
Website/App_Code/SuspectWebSvc.vb -text
Website/App_Data_SQL/CorporateSite-Announcement.sql -text
Website/App_Data_SQL/CorporateSite-CorporateServer.sql -text
Website/App_Data_SQL/CorporateSite-Customer.sql -text
Website/App_Data_SQL/CorporateSite-CustomerGroup.sql -text
Website/App_Data_SQL/CorporateSite-CustomerGroupDetail.sql -text
Website/App_Data_SQL/CorporateSite-DialogicServer.sql -text
Website/App_Data_SQL/CorporateSite-DialogicService.sql -text
Website/App_Data_SQL/CorporateSite-Employee.sql -text
Website/App_Data_SQL/CorporateSite-ExternalData/CorporateSite-ExternalData-NewsImage.sql -text
Website/App_Data_SQL/CorporateSite-ExternalData/CorporateSite-ExternalData-OrderForm.sql -text
Website/App_Data_SQL/CorporateSite-InvoicePeriod.sql -text
Website/App_Data_SQL/CorporateSite-InvoicePeriodDetail.sql -text
Website/App_Data_SQL/CorporateSite-News.sql -text
Website/App_Data_SQL/CorporateSite-Server.sql -text
Website/App_Data_SQL/CorporateSite-Service.sql -text
Website/App_Data_SQL/CorporateSite-Settings.sql -text
Website/App_Data_SQL/CorporateSite-UserDefinedFunctions.sql -text
Website/App_Data_SQL/CorporateSite-UserInformation.sql -text
Website/App_WebReferences/InvoiceWebSvc/InvoiceWebSvc.disco -text
Website/App_WebReferences/InvoiceWebSvc/InvoiceWebSvc.discomap -text
Website/App_WebReferences/InvoiceWebSvc/InvoiceWebSvc.wsdl -text
Website/App_WebReferences/ReportDataWebSvc/ReportDataWebSvc.disco -text
Website/App_WebReferences/ReportDataWebSvc/ReportDataWebSvc.discomap -text
Website/App_WebReferences/ReportDataWebSvc/ReportDataWebSvc.wsdl -text
Website/App_WebReferences/com/peopleplanner/internal/corporatesite_dev/service.disco -text
Website/App_WebReferences/com/peopleplanner/internal/corporatesite_dev/service.discomap -text
Website/App_WebReferences/com/peopleplanner/internal/corporatesite_dev/service.wsdl -text
Website/App_WebReferences/com/peopleplanner/internal/peopleplanner_dev/service.disco -text
Website/App_WebReferences/com/peopleplanner/internal/peopleplanner_dev/service.discomap -text
Website/App_WebReferences/com/peopleplanner/internal/peopleplanner_dev/service.wsdl -text
Website/Bin/Custom.ExcelXmlWriter.dll -text
Website/Bin/IntelliSMSDotNet.dll -text
Website/Bin/IntelliSMSDotNet.xml -text
Website/Bin/TallComponents.PDF.Layout.dll -text
Website/Bin/TallComponents.PDF.Layout.xml -text
Website/Bin/pdfLib.dll -text
Website/CM2000MonitorWebSvc.asmx -text
Website/Clients/Other/SMAlert.aspx -text
Website/Clients/Other/SMAlert.aspx.vb -text
Website/Clients/Other/SMMonitor.aspx -text
Website/Clients/Other/SMMonitor.aspx.vb -text
Website/Clients/Other/SMMonitorArrived.wav -text
Website/Clients/Services/Default.aspx -text
Website/Clients/Services/Default.aspx.vb -text
Website/Clients/Services/Resource/PPEasyLoginSetup.msi -text
Website/Clients/Services/Resource/PeoplePlannerMachinePolicy.msi -text
Website/Clients/Services/Resource/PeoplePlannerMappingAgent.zip -text
Website/Clients/Services/Resource/PeoplePlannerMobile.apk -text
Website/Clients/Services/Termination.aspx -text
Website/Clients/Services/Termination.aspx.vb -text
Website/Common/Client-Types.ascx -text
Website/Common/Client-Types.ascx.vb -text
Website/Common/Contact-Us.ascx -text
Website/Common/Contact-Us.ascx.vb -text
Website/Common/Footer.ascx -text
Website/Common/Footer.ascx.vb -text
Website/Common/Functions.ascx -text
Website/Common/Functions.ascx.vb -text
Website/Common/Logo-DomiciliaryCare.ascx -text
Website/Common/Logo-DomiciliaryCare.ascx.vb -text
Website/Common/Logo-HomeCare.ascx -text
Website/Common/Logo-HomeCare.ascx.vb -text
Website/Common/Logo-Nursing.ascx -text
Website/Common/Logo-Nursing.ascx.vb -text
Website/Common/Logo.ascx -text
Website/Common/Logo.ascx.vb -text
Website/Common/Meta-DomiciliaryCare.ascx -text
Website/Common/Meta-DomiciliaryCare.ascx.vb -text
Website/Common/Meta-HomeCare.ascx -text
Website/Common/Meta-HomeCare.ascx.vb -text
Website/Common/Meta-Nursing.ascx -text
Website/Common/Meta-Nursing.ascx.vb -text
Website/Common/Meta.ascx -text
Website/Common/Meta.ascx.vb -text
Website/Common/News-HomeCare.ascx -text
Website/Common/News-HomeCare.ascx.vb -text
Website/Common/News.ascx -text
Website/Common/News.ascx.vb -text
Website/Common/Sector-Types.ascx -text
Website/Common/Sector-Types.ascx.vb -text
Website/Common/Top-Menu-Login.ascx -text
Website/Common/Top-Menu-Login.ascx.vb -text
Website/Common/Top-Menu.ascx -text
Website/Common/Top-Menu.ascx.vb -text
Website/Company/About-Us-The-Team.ascx -text
Website/Company/About-Us-The-Team.ascx.vb -text
Website/Company/About-Us.aspx -text
Website/Company/About-Us.aspx.vb -text
Website/Company/Allison-Gash.aspx -text
Website/Company/Allison-Gash.aspx.vb -text
Website/Company/Clients/City-and-County-Healthcare.aspx -text
Website/Company/Clients/City-and-County-Healthcare.aspx.vb -text
Website/Company/Clients/Clients-footer.ascx -text
Website/Company/Clients/Clients-footer.ascx.vb -text
Website/Company/Clients/Prime-Care.aspx -text
Website/Company/Clients/Prime-Care.aspx.vb -text
Website/Company/Clive-Ward.aspx -text
Website/Company/Clive-Ward.aspx.vb -text
Website/Company/Contact-Us.aspx -text
Website/Company/Contact-Us.aspx.vb -text
Website/Company/Cookies.aspx -text
Website/Company/Cookies.aspx.vb -text
Website/Company/Ian-McMullon.aspx -text
Website/Company/Ian-McMullon.aspx.vb -text
Website/Company/Legal-Disclaimer.aspx -text
Website/Company/Legal-Disclaimer.aspx.vb -text
Website/Company/News/PeoplePlanner-AccessGroup.aspx -text
Website/Company/News/PeoplePlanner-AccessGroup.aspx.vb -text
Website/Company/Our-Clients.aspx -text
Website/Company/Our-Clients.aspx.vb -text
Website/Company/Privacy-Policy.aspx -text
Website/Company/Privacy-Policy.aspx.vb -text
Website/Company/What-Next-For-Us.aspx -text
Website/Company/What-Next-For-Us.aspx.vb -text
Website/Default.aspx -text
Website/Default.aspx.vb -text
Website/DialogicMonitorWebSvc.asmx -text
Website/DialogicWebSvc.asmx -text
Website/Domiciliary-Care-Software/Default.aspx -text
Website/Domiciliary-Care-Software/Default.aspx.vb -text
Website/Global.asax -text
Website/Home-Care-Software/Default.aspx -text
Website/Home-Care-Software/Default.aspx.vb -text
Website/MonitorWebSvc.asmx -text
Website/Nursing-Agency-Software/Default.aspx -text
Website/Nursing-Agency-Software/Default.aspx.vb -text
Website/PPEasyLogin.asmx -text
Website/PPMobileLogin.asmx -text
Website/PeoplePlanner/MobileApps/Client.aspx -text
Website/PeoplePlanner/MobileApps/Client.aspx.vb -text
Website/PeoplePlanner/MobileApps/Employee.aspx -text
Website/PeoplePlanner/MobileApps/Employee.aspx.vb -text
Website/PeoplePlanner/MobileApps/OnCall.aspx -text
Website/PeoplePlanner/MobileApps/OnCall.aspx.vb -text
Website/PeoplePlanner/PeoplePlanner-Applicant-Management.aspx -text
Website/PeoplePlanner/PeoplePlanner-Applicant-Management.aspx.vb -text
Website/PeoplePlanner/PeoplePlanner-Client-Management.aspx -text
Website/PeoplePlanner/PeoplePlanner-Client-Management.aspx.vb -text
Website/PeoplePlanner/PeoplePlanner-Demonstration.aspx -text
Website/PeoplePlanner/PeoplePlanner-Demonstration.aspx.vb -text
Website/PeoplePlanner/PeoplePlanner-Employee-Management.aspx -text
Website/PeoplePlanner/PeoplePlanner-Employee-Management.aspx.vb -text
Website/PeoplePlanner/PeoplePlanner-Finance.aspx -text
Website/PeoplePlanner/PeoplePlanner-Finance.aspx.vb -text
Website/PeoplePlanner/PeoplePlanner-Planning.aspx -text
Website/PeoplePlanner/PeoplePlanner-Planning.aspx.vb -text
Website/PeoplePlanner/PeoplePlanner-RealTime-Monitoring.aspx -text
Website/PeoplePlanner/PeoplePlanner-RealTime-Monitoring.aspx.vb -text
Website/PeoplePlanner/PeoplePlanner-Reconciliation.aspx -text
Website/PeoplePlanner/PeoplePlanner-Reconciliation.aspx.vb -text
Website/PeoplePlanner/PeoplePlanner-The-Modules.ascx -text
Website/PeoplePlanner/PeoplePlanner-The-Modules.ascx.vb -text
Website/PeoplePlanner/PeoplePlanner.aspx -text
Website/PeoplePlanner/PeoplePlanner.aspx.vb -text
Website/PeoplePlanner/Portals/Client.aspx -text
Website/PeoplePlanner/Portals/Client.aspx.vb -text
Website/PeoplePlanner/Portals/Employee.aspx -text
Website/PeoplePlanner/Portals/Employee.aspx.vb -text
Website/ReceiveSMS.aspx -text
Website/ReceiveSMS.aspx.vb -text
Website/ResponseWebSvc.asmx -text
Website/SMSMonitorWebSvc.asmx -text
Website/Security/Login.aspx -text
Website/Security/Login.aspx.vb -text
Website/Security/Login.css -text
Website/Security/LoginClientServices.aspx -text
Website/Security/LoginClientServices.aspx.vb -text
Website/Security/Logout.aspx -text
Website/Security/Logout.aspx.vb -text
Website/Service.asmx -text
Website/SuspectWebSvc.asmx -text
Website/Web.config -text
Website/clientaccesspolicy.xml -text
Website/crossdomain.xml -text
Website/css/Detail.css -text
Website/css/Style.css -text
Website/css/layout.css -text
Website/css/reset.css -text
Website/favicon.ico -text
Website/google882caedd18b44ce2.html -text
Website/images/3rdParties/GoogleChrome.png -text
Website/images/3rdParties/get_adobe_flash_player.png -text
Website/images/3rdParties/get_adobe_reader.png -text
Website/images/Access.png -text
Website/images/Logo-Access.png -text
Website/images/Logo.png -text
Website/images/PeoplePlanner-Applicant.png -text
Website/images/PeoplePlanner-Client-1.png -text
Website/images/PeoplePlanner-Client-2.png -text
Website/images/PeoplePlanner-EasyLogin.png -text
Website/images/PeoplePlanner-Employee.png -text
Website/images/PeoplePlanner-Finance-1.png -text
Website/images/PeoplePlanner-Finance-2.png -text
Website/images/PeoplePlanner-Framework.gxml -text
Website/images/PeoplePlanner-Framework.png -text
Website/images/PeoplePlanner-General-1.png -text
Website/images/PeoplePlanner-General-2.png -text
Website/images/PeoplePlanner-LoginPageBanner-Access.jpg -text
Website/images/PeoplePlanner-MobileApps-Client.gxml -text
Website/images/PeoplePlanner-MobileApps-Client.png -text
Website/images/PeoplePlanner-MobileApps-Employee.gxml -text
Website/images/PeoplePlanner-MobileApps-Employee.png -text
Website/images/PeoplePlanner-MobileApps-OnCall.gxml -text
Website/images/PeoplePlanner-MobileApps-OnCall.png -text
Website/images/PeoplePlanner-Monitoring.png -text
Website/images/PeoplePlanner-Planning-1.png -text
Website/images/PeoplePlanner-Planning-2.png -text
Website/images/PeoplePlanner-Portals-Client.png -text
Website/images/PeoplePlanner-Portals-Employee.gxml -text
Website/images/PeoplePlanner-Portals-Employee.png -text
Website/images/PeoplePlanner-Portasl-Client.gxml -text
Website/images/PeoplePlanner-Reconciliation-1.png -text
Website/images/PeoplePlanner-Reconciliation-2.png -text
Website/images/PeoplePlanner-Service.gxml -text
Website/images/PeoplePlanner-Service.png -text
Website/images/Spinner.gif -text
Website/images/The_Access_Group_logo_svg.png -text
Website/images/Twitter.png -text
Website/images/about.png -text
Website/images/alarmclock.png -text
Website/images/body-bg.gif -text
Website/images/box_software.png -text
Website/images/businessman.png -text
Website/images/calendar.png -text
Website/images/check.png -text
Website/images/clients/logo-176-100.png -text
Website/images/clients/logo-176x100-DCS-FLyde.png -text
Website/images/clients/logo-176x100-care-concern.png -text
Website/images/clients/logo-176x100-city-county.png -text
Website/images/clients/logo-176x100-kind-hands.png -text
Website/images/clients/logo-176x100-prime.png -text
Website/images/clients/logo-176x100-self-unlimited.png -text
Website/images/clients/logo-176x100-superior-care.png -text
Website/images/clients/logo-DCS-FLyde.png -text
Website/images/clients/logo-bw-176x100-DCS-FLyde.png -text
Website/images/clients/logo-bw-176x100-care-concern.png -text
Website/images/clients/logo-bw-176x100-city-county.png -text
Website/images/clients/logo-bw-176x100-kind-hands.png -text
Website/images/clients/logo-bw-176x100-prime.png -text
Website/images/clients/logo-bw-176x100-self-unlimited.png -text
Website/images/clients/logo-bw-176x100-superior-care.png -text
Website/images/clients/logo-care-concern.png -text
Website/images/clients/logo-city-county.gif -text
Website/images/clients/logo-city-county.png -text
Website/images/clients/logo-kind-hands.png -text
Website/images/clients/logo-prime.png -text
Website/images/clients/logo-self-unlimited.png -text
Website/images/clients/logo-superior-care.png -text
Website/images/divider-1-bg.gif -text
Website/images/divider-2-bg.gif -text
Website/images/divider-bg.gif -text
Website/images/documents_preferences.png -text
Website/images/first_aid_box.png -text
Website/images/line-chart.png -text
Website/images/list-bg.gif -text
Website/images/lock.png -text
Website/images/lock_ok.png -text
Website/images/nurse2.png -text
Website/images/office-building.png -text
Website/images/shield_green.png -text
Website/images/slogan-bg-access-1.png -text
Website/images/slogan-bg-access.jpg -text
Website/images/slogan-bg-access.png -text
Website/images/slogan-bg.jpg -text
Website/images/slogan-bg.png -text
Website/images/slogan-down-box.gif -text
Website/images/telephone.png -text
Website/images/user1.png -text
Website/images/user1_message.png -text
Website/images/user1_monitor.png -text
Website/images/user1_preferences.png -text
Website/images/user3.png -text
Website/images/users3.png -text
Website/robots.txt -text
Website/scripts/Detail.js -text
Website/scripts/General.js -text
Website/scripts/MyriadPro-Cond.js -text
Website/scripts/MyriadPro-Semibold.js -text
Website/scripts/PIE.htc -text
Website/scripts/cufon-replace.js -text
Website/scripts/cufon-yui.js -text
Website/scripts/html5.js -text
Website/scripts/imagepreloader.js -text
Website/scripts/jquery-1.4.2.min.js -text
Website/sitemap.xml -text
